<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.0.3/build/global/luxon.min.js"></script>
    <title>Boolzapp</title>
  </head>
  <body>
    <div class="container">
      <div class="b-top"></div>
      <div class="b-bottom"></div>
    </div>
    <div id="app">
        <div class="left-side">
          <div class="first-avatar">
            <div class="first-icon">
              <img src="img/avatar_io.jpg" alt="" />
              <p>Sofia</p>
            </div>
                <span>
                  <i class="fa-solid fa-circle-notch"></i>
                  <i class="fa-solid fa-message"></i>
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </span>
           </div>
        <div>
          <div class=" second-avatar">
            <img src="" i class="fa-solid fa-bell-slash"></i>
            <small class="small-font">Ricevi nottifiche dei novi messagi,<br>
            Attiva nottifiche desktop.</small>
          </div>
        </div>
        <div class="contacts-list">
        </div>
        <div class="contact" v-for="(contact, index) in contacts" @click="setActiveContact(index)"
        v-for="message in contacts[activeContact].message">
          <div class="contact__image">
            <img class="avatar" :src="`img/avatar${contact.avatar}.jpg`" alt="" />
           
          </div>
          <div class="contact__text">
            <div class="contact__user">
              <h5>{{ contact.name }}</h5>
              <small><p>Ultimo messaggio inviato</p></small>
            </div>
            <div class="contact__time">
              <small> {{contact.date}} </small>
            </div>
          </div>
        <!-- </div>
        <div class="avatar">
          <div class="contact">
            <img src="img/avatar_2.jpg" alt="" />
            <p>Sofia</p>
          </div>
        </div>
        <div class="avatar">
          <div class="contact">
            <img src="img/avatar_3.jpg" alt="" />
            <p>Sofia</p>
          </div>
        </div>
        <div class="avatar">
          <div class="contact">
            <img src="img/avatar_4.jpg" alt="" />
            <p>Sofia</p>
          </div>
        </div>
        <div class="avatar">
          <div class="contact">
            <img src="img/avatar_5.jpg" alt="" />
            <p>Sofia</p>
          </div>
        </div>
        <div class="avatar">
          <div class="contact">
            <img src="img/avatar_6.jpg" alt="" />
            <p>Sofia</p>
          </div>
        </div>
        <div class="avatar">
          <div class="contact">
            <img src="img/avatar_7.jpg" alt="" />
            <p>Sofia</p>
          </div>
        </div>
        <div class="last-avatar">
          <div class="contact">
            <img src="img/avatar_8.jpg" alt="" />
            <p>Sofia</p>
          </div> -->
        </div>
      </div>
      <!-- RIGHT-SIDE -->
      <div class="right-side"> 
        <div class="first-avatar-rs">
          <div class="first-icon">
            <img src="img/avatar_1.jpg" alt="" />
            <h4>{{contacts[activeContact].name}} </h4>
            <!-- <div class="txt">
              <small><p>Ultimo accesso oggi alle <span>12:00</span></p></small>
            </div> -->
            
          </div>
              <span>
                <i class="fa-solid fa-magnifying-glass"></i>
               <i class="fa-solid fa-paperclip"></i>
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </span>
         </div>
         <div v-for="message in contacts[activeContact].messages" :class="message.status ==='sent'? 'message-send' : 'messages-received' ">
           <div :class="message.status">
             <h5>{{message.message}}</h5>
             <div class="message__time">
              <small>{{message.date}}</small>
            </div>
          </div>
           
          
          <!-- INPUT-MESSAGE -->
          </div>
          <div class="add-sms">
            <div class="type-sms">
             <span><i class="fa-regular fa-face-smile"></i></span> 
              <input class="input" type="text" v-model.trim="newMessage" @keyup.enter="addNewMessage" placeholder="Inserisci messagio">
              <span><i class="fa-solid fa-microphone"></i></span>
            </div>
          </div>
        </div> 
      </div>
        <script src="data.js"></script>
      </body>
</html>
