/* RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Lato", sans-serif;
  font-size: 100%;
}
img {
  max-width: 100%;
}
img.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
/* BACKGROUND */
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.b-top {
  height: 20vh;
  background-color: darkcyan;
}
.b-bottom {
  height: 80vh;
  background-color: burlywood;
}
/* SOCIAL-BACKGROUND  */
#app {
  background-color: rgb(54, 214, 214);
  position: absolute;
  top: 40px;
  left: 120px;
  width: 80%;
  height: 550px;
  display: flex;
}
/* LEFT-SIDE */
.left-side {
  height: 90vh;
  width: 35vw;
}

.first-avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 22.5rem;
  height: 3rem;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  padding: 0.35rem;
  padding-right: 1rem;
}

.fa-solid {
  color: darkgray;
  padding: 4px;
  background-color: white;
  align-items: center;
  justify-content: center;
}
/* .fa-solid fa-bell-slash {
  width: 10px;
  color: lightskyblue;
} */
.first-icon {
  text-align: start;
  align-items: center;
  display: flex;
  padding: 0.55rem;
  padding-left: 0.4rem;
  width: 40px;
  border-radius: 50%;
}
.second-avatar {
  display: flex;
  align-items: center;
  background-color: lightskyblue;
  padding-left: 1.3rem;
  height: 3.43rem;
}
.small-font {
  font-size: xx-small;
}
/* CONTACT-LIST */
.contacts-list {
  overflow-y: scroll;
}
.contact {
  align-items: center;
  display: flex;
  padding: 0.55rem;
  padding-left: 1.3rem;
  flex-grow: 1;
  width: 22.5rem;
  height: 3.5rem;
  background-color: white;
  border-bottom: 1px solid lightgrey;
}
.contacts-time {
  display: block;
  justify-content: right;
}
/* .contact {
} */
/* .last-contact {
  width: 22.5rem;
  height: 3.95rem;
  background-color: white;
  padding-bottom: 1rem;
} */
/* /CONTACT-LIST */

/* RIGHT-SIDE */
.right-side {
  object-fit: cover;
  background-image: url(img/mine.jpg);
  height: 90.3vh;
  width: 65vw;
  position: relative;
}
.first-avatar-rs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 41.5rem;
  height: 3rem;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  padding: 0.35rem;
  padding-right: 1rem;
}
/* MESSAGES */
.sent {
  position: relative;
  display: flex;
  background-color: #d5f9ba;
  min-width: 250px;
  max-width: 60%;
  padding: 0.5rem;
  border-radius: 10px;
  margin-top: 2rem;
  height: 60px;
  align-items: center;
  padding-left: 1.5rem;
}
.received {
  padding-left: 5rem;
  position: relative;
  display: flex;
  background-color: white;
  padding: 0.5rem;
  border-radius: 10px;
  margin-top: 2rem;
  height: 60px;
  min-width: 250px;
  max-width: 60%;
  align-items: center;
  padding-left: 1.5rem;
}
.messages-received {
  padding-left: 23rem;
}
.message-send {
  padding-left: 3rem;
}
/* /MESSAGES */
/* FOOTER */
.add-sms {
  background-color: #e2e2e2;
  height: 55px;
  width: 100%;
  align-items: center;
  bottom: 0;
  position: absolute;
}
.type-sms {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}
.input {
  width: 80%;
  background-color: white;
  border-radius: 5px;
  min-height: 30px;
  font-size: x-small;
  padding-left: 10px;
  border: none;
}
.contact__time,
.message__time {
  font-size: xx-small;
  color: darkgray;
  position: absolute;
  bottom: 5px;
  right: 5px;
}
/* FOOTER */
